.testimonials {
    background: linear-gradient(135deg, #c944eb 0%,#05abe0 100%,#319af2 100%);
    &__subheader {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, .8);
        text-align: center;
        letter-spacing: 1px;
        padding: 12rem 0 2.6rem 0;
    }
    &__slide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 767px) {
            flex-direction: column
        }
        .slide__previous, .slide__next {
            padding: 10rem 0;
            cursor: pointer;
        }
    }
}

.slide {
    &__next {
        transform: rotate(180deg);
    }
    &__unit {
        .unit {
            &__testimonial {
                color: #fff;
                font-size: 3.4rem;
                font-weight: 700;
                max-width 43rem;
            }
            &__author {
                color: #fff;
                font-size: 1.4rem;
                margin: 2.7rem 0 0.5rem 0;
            }
            &__company {
                color: rgba(255, 255, 255, .5);
                font-size: 1.4rem;
                padding-bottom: 10rem;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &__previous,
        &__next {
            display: none
        }
        &__unit {
            .unit {
                &__testimonial {
                    font-size: 2.6rem
                }
            }
        }
    }
}