section.adventages
    .container
        .advantages-info
            .advantages-info__unit
                .unit__header
                    | Easily locate notes
                .unit__text
                    | Base UI is the best starting point for your promo site. Just choose a template you like, insert your content and use.
            .advantages-info__unit
                .unit__header
                    | Live website feedback
                .unit__text
                    | Explore early concepts or pioneer new design patterns – an entire design workflow in one smart tool.
            .advantages-info__unit
                .unit__header
                    | Responsive view
                .unit__text
                    | Designing with Base UI is a smooth experience all around. Pick your screens, adjust a hue, control typefaces.
        .advantages-image
            img.advantages-image__img(src="../images/bg_advantages@2x.png" alt="Advantages")