footer.footer 
    .container
        .footer-license © Crowdjar, 2017
        ul.footer-menu.menu
            li.footer-menu__item.menu__item
                a About
            li.footer-menu__item.menu__item
                a Contact
            li.footer-menu__item.menu__item
                a Stories
            li.footer-menu__item.menu__item
                a Company
            li.footer-menu__item.menu__item
                a About
            li.footer-menu__item.menu__item
                a Contact
        .footer-social
            a.footer-social__links
                img.footer-social__item(src="../images/google_ico@2x.png" alt="Google")
            a.footer-social__links
                img.footer-social__item(src="../images/dribble_ico@2x.png" alt="Dribble")
            a.footer-social__links
                img.footer-social__item(src="../images/insta_ico@2x.png" alt="Instagram")
