header.header
    .header-logo
        img.logo(src="../images/logo@2x.png" alt="Crowjar-logo")
    .header-lang ENG / DE
    .header-menu
        button.hamburger.hamburger--elastic(type="button")
            span.hamburger-box
                span.hamburger-inner
    ul.header__menu.menu
        li.header-menu__item.menu__item
            a About
        li.header-menu__item.menu__item
            a Contact
        li.header-menu__item.menu__item
            a Stories
        li.header-menu__item.menu__item
            a Company
        li.header-menu__item.menu__item
            a About
        li.header-menu__item.menu__item
            a Contact