include /mixins/image
include /mixins/icon

section.hello-section
    div.container
        .hello-section__subheader Meet Crowdjar
        .hello-section__header 
            | Client Feedback
            br
            | Has Never Been This Easy
        .hello-section__button
            img.hello-section__play-button(src="../images/play_ico@2x.png" alt="Crowjar-logo")
        .hello-section__text.text Single tool to manage your clients, files and a zillion creative requests.
        .hello-section__ico
            i.hello-section__ico_gray