section.save-time
    .container
        h2.save-time__header Save your time and money
        .save-time__text.text 
            | Do you find yourself parsing emails more than writing code? Clients' requests are 
            br 
            | vague and unorganized? Save valuable billable hours by cutting down 
            br 
            | on the hassle of communicating accurately with your clients