section.gallery
    .container
        h2.gallery__header Gallery
        p.gallery__text.text At half-past eight the door opened, the policeman appeared, and, requesting them to follow him, led the way to an adjoining hall.
        .gallery__images.gallery-images
            img.gallery-images__unit(src='../images/gallery_unit1@2x.png')
            img.gallery-images__unit(src='../images/gallery_unit2@2x.png')
            img.gallery-images__unit(src='../images/gallery_unit3@2x.png')
            img.gallery-images__unit(src='../images/gallery_unit4@2x.png')
            img.gallery-images__unit(src='../images/gallery_unit5@2x.png')
            img.gallery-images__unit(src='../images/gallery_unit6@2x.png')