section.build-for
    .container
        .build-for__text.text
            | Crowdjar was built to give your clients the experience they deserve. With powerful features like threaded communications, native file management and sharing, team management, in-browser previews, automatic notifications and the ability to white label our tool, your brand will shine like never before.
        .build-for__collaborative
            .build-for-collaborative__unit
                .build-for-collaborative__header.subheader Collaborative Communication
                .build-for-collaborative__text.text Your clients can use their favorite tool (email) to submit new requests, give feedback, and respond to updates.
            .build-for-collaborative__unit
                .build-for-collaborative__header.subheader File Management
                .build-for-collaborative__text.text Intuitive file management lets you share, preview, and store all of your files with your clients.