section.testimonials
    .container
        .testimonials__subheader TESTIMONIALS
        .testimonials__slide
            a.slide__previous
                <svg width="20" height="38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M.31 18.255L18.2.314a1.075 1.075 0 0 1 1.518 1.523L2.59 19.012l17.125 17.176a1.08 1.08 0 0 1-.755 1.842 1.043 1.043 0 0 1-.755-.32L.317 19.77a1.073 1.073 0 0 1-.008-1.515z" id="a"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#E2E2E2" xlink:href="#a"/><g mask="url(#b)" fill="#EEE"><path d="M0 0h26v44H0z"/></g></g></svg>
            .slide__unit
                .unit__testimonial &#8220;With Crowdjar we're able to support over 1,200 clients requesting 80+ jobs a day. Our experience is great!&#8221;
                .unit__author JOE BUTTERS
                .unit__company COO AT INTERFOX
            .slide__unit
                .unit__testimonial &#8220;Crowdjar had all the features we needed for our designs&#8221;
                .unit__author THOMAS MANE
                .unit__company VP DESIGN AT APPLE
            a.slide__next
                <svg width="20" height="38" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M1.831.314a1.074 1.074 0 0 0-1.516 1.52L17.415 19l-17.1 17.16a1.079 1.079 0 0 0 .753 1.84c.284 0 .556-.114.754-.318l17.86-17.927c.42-.416.423-1.093.01-1.514L1.831.314z" id="a"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><use fill="#E2E2E2" xlink:href="#a"/><g mask="url(#b)" fill="#EEE"><path d="M0 0h20v38H0z"/></g></g></svg>