section.map
    .container
        h2.map__header Find Your Store
        .map__images    
            img.map__nav(src='../images/bg_map@2x.png')
            img.map__coordinate.map__coordinate_phoenix(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/phoenix.pug
            img.map__coordinate.map__coordinate_canada(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/canada.pug
            img.map__coordinate.map__coordinate_greenland(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/greenland.pug
            img.map__coordinate.map__coordinate_africa(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/africa.pug
            img.map__coordinate.map__coordinate_europe(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/europe.pug
            img.map__coordinate.map__coordinate_russia(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/russia.pug
            img.map__coordinate.map__coordinate_australia(src='../images/coordinate-arrow@2x.png')
            include ../modules/coordinats/australia.pug

